{% extends "base.html" %} {% block content %}
<dl class="f6 lh-title mv2">
    <p class="f5 lh-copy measure mt0-ns">
        <form action="/arbdl/d" method="POST">
            <dd class="dib ml0 gray"><input name="url" type="text" class="db w-100 pa2 ttc mt2 br2 b--dark-gray ba f6" placeholder="URL" aria-label="URL" aria-describedby="button-submit"> </dd>
            <dt class="dib b">  <button class="btn " name="btn-primary" type="submit" id="button-submit">Submit</button></dt>
        </form>
    </p>
</dl>
<dt class="dib b"> Sup poo face  </dt> {% endblock %}